main {
	// padding-top: $header-height;
}

* {
	font-family: $roboto;
}

button {
	border-radius: 2em;
	border: 0;
	background: black;
	color: white;
	padding: 1em 2em;
	font-weight: 900;
	letter-spacing: 0.1em;
	position: relative;
	z-index: 2;
}

// Forcing mouse action
button,
a {
	position: relative;
	z-index: 2;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}
